<a href="https://colab.research.google.com/github/ruhyana/Indonesia/blob/master/analisis_sales_trf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 **DATA DICTIONARY**

| Variable      | Description                                                                                                 |
| ------------- | ----------------------------------------------------------------------------------------------------------- |
| id_product           | A notation for a house                                                                                      |
| date          | Date house was sold                                                                                         |
| price         | Price is prediction target                                                                                  |
| bedrooms      | Number of bedrooms                                                                                          |
| bathrooms     | Number of bathrooms                                                                                         |
| sqft_living   | Square footage of the home                                                                                  |
| sqft_lot      | Square footage of the lot                                                                                   |
| floors        | Total floors (levels) in house                                                                              |
| waterfront    | House which has a view to a waterfront                                                                      |
| view          | Has been viewed                                                                                             |
| condition     | How good the condition is overall                                                                           |
| grade         | overall grade given to the housing unit, based on King County grading system                                |
| sqft_above    | Square footage of house apart from basement                                                                 |
| sqft_basement | Square footage of the basement                                                                              |
| yr_built      | Built Year                                                                                                  |
| yr_renovated  | Year when house was renovated                                                                               |
| zipcode       | Zip code                                                                                                    |
| lat           | Latitude coordinate                                                                                         |
| long          | Longitude coordinate                                                                                        |
| sqft_living15 | Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area |
| sqft_lot15    | LotSize area in 2015(implies-- some renovations)                                                            |

# 1.ANALISIS SALES TRF

## 1 Analisis data sales

###**Import package & library**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


**Read dataset**

In [48]:
data_sales = pd.read_csv('/content/drive/MyDrive/TRF DATA/sales_181920_ok.csv')
data_product = pd.read_csv('/content/drive/MyDrive/TRF DATA/data_product.csv')

In [ ]:
data_medreps =pd.read_csv('/content/drive/MyDrive/TRF DATA/master_mr.csv')

In [ ]:
data_medreps.head()

In [ ]:
data_medreps.info()

In [ ]:
data_product.head()

,MaterialCode,MaterialDesc,Kemasan,Satuan,StatusProduct,SubCategory,Category,IdCategory,Komposisi,LastUpdate,Remarks
0,210-08-00,ALIF 500 KAPLET,Folding Box,100,Aktif,ETHICAL BRANDED,EP,0,Naproxen sodium ~ Naproxen 500mg,0000-00-00 00:00:00,\N
1,013-29-01,BELVAS 10/TAB 3X10'S FBX,Folding Box,30,Aktif,ETHICAL BRANDED,EP,0,Amlodipin besylate 10 mg,0000-00-00 00:00:00,\N
2,013-29-02,BELVAS 5/TAB 3X10'S FBX,Folding Box,30,Aktif,ETHICAL BRANDED,EP,0,Amlodipin besylate 5 mg,0000-00-00 00:00:00,\N
3,012-45-00,BEXCE/KAP 10X10'S,Folding Box,100,Aktif,ETHICAL BRANDED,EP,0,"Vit C 500mg, Vit B1 15mg, Vit B2 10mg, Vit B6 ...",0000-00-00 00:00:00,\N
4,012-46-05,BEXCE PLUS DROP 15 ML,Bottle,1,Aktif,ETHICAL BRANDED,EP,0,"Vit. A, Vit. B Komplek, Vit. C, D, E",0000-00-00 00:00:00,\N

# New Section

In [ ]:
data_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MaterialCode   283 non-null    object
 1   MaterialDesc   283 non-null    object
 2   Kemasan        165 non-null    object
 3   Satuan         283 non-null    int64
 4   StatusProduct  154 non-null    object
 5   SubCategory    283 non-null    object
 6   Category       283 non-null    object
 7   IdCategory     283 non-null    int64
 8   Komposisi      151 non-null    object
 9   LastUpdate     283 non-null    object
 10  Remarks        283 non-null    object
dtypes: int64(2), object(9)
memory usage: 24.4+ KB

In [ ]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295052 entries, 0 to 295051
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   SalesOrderNo      295052 non-null  object
 1   OrderType         295052 non-null  object
 2   OrderCN           6750 non-null    object
 3   CompanyCode       295052 non-null  int64
 4   TanggalSO         295052 non-null  object
 5   Program           295052 non-null  object
 6   PrincipalCode     295052 non-null  object
 7   ProductHirarki    295052 non-null  object
 8   SalesOfficePlant  295052 non-null  int64
 9   SubCustomerCode   295052 non-null  object
 10  NoCustVerSAP      295052 non-null  int64
 11  CustomerName      295052 non-null  object
 12  CustomerAddress   295052 non-null  object
 13  MaterialCode      295052 non-null  object
 14  MaterialDesc      295052 non-null  object
 15  TanggalDO         295052 non-null  object
 16  NomorDO           295052 non-null  object
 17  GrossSales        295052 non-null  int64
 18  QtyDO             295052 non-null  float64
 19  DiscountA         295052 non-null  int64
 20  DiscountB         295052 non-null  int64
 21  DiscountC         295052 non-null  int64
 22  DiscountE         295052 non-null  int64
 23  DiscountF         295052 non-null  int64
dtypes: float64(1), int64(9), object(14)
memory usage: 54.0+ MB

In [49]:
data_sales.shape #Melihat jumlah record dan jumlah kolom

(295052, 24)

In [50]:
data_medreps.shape

(125, 19)

In [51]:
data_medreps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NRP               125 non-null    object
 1   PinCode           125 non-null    object
 2   FFName            125 non-null    object
 3   SalesOfficePlant  125 non-null    int64
 4   StatusFF          125 non-null    object
 5   Title             125 non-null    object
 6   AwalKerja         125 non-null    object
 7   AkhirKerja        125 non-null    object
 8   IdRegion          1 non-null      object
 9   Divisi            1 non-null      object
 10  NoTelpon          125 non-null    object
 11  IdHandphone       1 non-null      object
 12  NPWP              107 non-null    object
 13  AlamatNPWP        108 non-null    object
 14  NoRekBCA          108 non-null    object
 15  Email             2 non-null      object
 16  Alamat            1 non-null      object
 17  LastUpdate        125 non-null    object
 18  Ket               17 non-null     object
dtypes: int64(1), object(18)
memory usage: 18.7+ KB

In [ ]:
data_sales.tail()

,SalesOrderNo,OrderType,OrderCN,CompanyCode,TanggalSO,Program,PrincipalCode,ProductHirarki,SalesOfficePlant,SubCustomerCode,...,MaterialDesc,TanggalDO,NomorDO,GrossSales,QtyDO,DiscountA,DiscountB,DiscountC,DiscountE,DiscountF
295047,CS0428582,ZB2A,M,8020,2018-12-27,DO,TRF,TRFEPAEPA,282,008A,...,AMLODIPINE BESILATE 5 MG TABLET/30X10,2018-12-27,CS0428582,1215000,18.0,0,793800,0,0,0
295048,CS4100048,ZCO9,O,8020,2018-12-20,CN,TRF,TRFEPAEPA,282,008A,...,IBUPROFEN SUSPENSI 200 MG/5 ML - 60 ML,2018-12-20,CS4100048,-1950000,-200.0,0,-848200,0,0,0
295049,CS4100048,ZCO9,O,8020,2018-12-20,CN,TRF,TRFEPAEPA,282,008A,...,AMLODIPINE BESILATE 10 MG TABLET/30X10,2018-12-20,CS4100048,-17775000,-150.0,0,-13320000,0,0,0
295050,CS4100048,ZCO9,O,8020,2018-12-20,CN,TRF,TRFEPAEPA,282,008A,...,SIMVASTATIN 20 MG FC TABLET/50X10,2018-12-20,CS4100048,-10175000,-50.0,0,-4300000,0,0,0
295051,CS4100049,ZCO9,O,8020,2018-12-20,CN,TRF,TRFEPAEPA,282,008A,...,SIMVASTATIN 20 MG FC TABLET/50X10,2018-12-20,CS4100049,-12617000,-62.0,0,-5332000,0,0,0

In [ ]:
data_sales.describe()

,CompanyCode,SalesOfficePlant,NoCustVerSAP,GrossSales,QtyDO,DiscountA,DiscountB,DiscountC,DiscountE,DiscountF
count,295052.0,295052.000000,2.950520e+05,2.950520e+05,295052.000000,2.950520e+05,2.950520e+05,295052.0,2.950520e+05,2.950520e+05
mean,8020.0,231.343756,4.001317e+08,2.186592e+06,47.490597,8.626928e+03,8.615409e+05,0.0,2.467678e+01,2.816980e+05
std,0.0,26.445091,9.626625e+05,1.194615e+07,460.950603,2.653588e+05,8.431045e+06,0.0,5.073733e+03,2.754100e+06
min,8020.0,202.000000,1.000007e+08,-5.130000e+08,-17462.000000,-4.356660e+06,-4.409708e+08,0.0,-6.453400e+04,-1.530412e+08
25%,8020.0,205.000000,4.000439e+08,1.146400e+05,2.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
50%,8020.0,223.000000,4.000928e+08,3.493400e+05,5.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
75%,8020.0,252.000000,4.002459e+08,1.181550e+06,20.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,1.446200e+04
max,8020.0,292.000000,4.003202e+08,1.050000e+09,59932.000000,3.272300e+07,9.195000e+08,0.0,1.855386e+06,3.991021e+08

In [ ]:
data_sales.dtypes

SalesOrderNo         object
OrderType            object
OrderCN              object
CompanyCode           int64
TanggalSO            object
Program              object
PrincipalCode        object
ProductHirarki       object
SalesOfficePlant      int64
SubCustomerCode      object
NoCustVerSAP          int64
CustomerName         object
CustomerAddress      object
MaterialCode         object
MaterialDesc         object
TanggalDO            object
NomorDO              object
GrossSales            int64
QtyDO               float64
DiscountA             int64
DiscountB             int64
DiscountC             int64
DiscountE             int64
DiscountF             int64
dtype: object

In [ ]:
data_product.info()

In [ ]:
data_product.head()

In [56]:
data_medreps.tail()

,NRP,PinCode,FFName,SalesOfficePlant,StatusFF,Title,AwalKerja,AkhirKerja,IdRegion,Divisi,NoTelpon,IdHandphone,NPWP,AlamatNPWP,NoRekBCA,Email,Alamat,LastUpdate,Ket
120,2014070048,2014070048,DONNY APRILIANTO,264,Berhenti,MR,2014-07-01,2020-06-30,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00,NaN
121,K2021060011,K2021060011,HENDRA,268,Aktif,MR,2021-07-01,9999-12-31,NaN,NaN,085246667757,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00,NaN
122,K2019060036,K2019060036,PANDU WICAKSONO,290,Berhenti,MR,2019-06-01,2019-10-30,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00,NaN
123,2013090055,2013090055,SUKRON,220,Berhenti,MR,2013-06-01,2019-10-30,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00,NaN
124,2011010045GTO,\N,VACANT - GORONTALO,275,BackUp,SPV,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N